.image-style{
   width: 250px;
  height: 150px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 3px #ffffff;
  margin-right: 6%;
}
.wraper{

}

.row-one{
  position: absolute;
   width: 2000px;
    left: 100%;
  display: inline-block;
}
.row-one-copy{
  position: absolute;
   width: 2000px;

  display: none;
}


